.adressForm {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-bottom: 1rem;
}

.adressForm input {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
}

.email {
  grid-column: span 2;
}

.phoneNumber {
  grid-column: span 2;
}

.error {
  display: block;
  padding-top: 0.4rem;
  color: red;
}
.inputError {
  border-color: red;
}

.nextButton {
  width: 100%;
  background: black;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}

.nextButton:hover {
  background: var(--color-secondary);
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1060px) {
  .adressForm div {
    grid-column: span 4;
  }
}
