.categoryProductsContainer {
  padding: 6rem 0;
  width: 85%;
  margin: 0 auto;
}

.categoryProductsFilters {
  display: flex;
  gap: 1rem;
}

.categoryProductsFilters span {
  border: 0.1rem solid var(--color-secondary);
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.categoryProductsFilters .active {
  background: var(--color-secondary);
  color: white;
}

.categoryProductsList {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  padding: 3rem 0;
}

@media screen and (max-width: 1070px) {
  .categoryProductsList {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1060px) {
  .categoryProductsContainer {
    width: 100%;
    padding: 6rem 2rem;
  }
  .categoryProductsList {
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 620px) {
  .categoryProductsList {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
