.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border: 2px solid #e7e7e7;
  background: white;
}

.logo {
  flex-basis: 33%;
  font-size: 1.5rem;
  font-weight: bold;
}

.navItems {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
  font-size: 1rem;
}

.navItems a:hover {
  color: var(--color-secondary-variant);
}

.navIcons {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
}
.navIcons button {
  font-size: 1.5rem;
  cursor: pointer;
}

/* MOBILE NAV */

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  border: 0.1rem solid #e7e7e7;
  background-color: white;
}

.mobileNavMenu {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-basis: 33%;
  align-items: center;
}
.mobileNavMenu button {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileLogo {
  text-align: center;
}

/* NAV MODAL */
.mobileNavModal {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 60%;
  z-index: 10;
  background: white;
  transform: translateX(100%);
  opacity: 0;
  border-left: 0.1rem solid #e7e7e7;
  transition: all 0.3s ease-in-out;
}
.closeBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.closeBtn {
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.mobileNavItems {
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartBtn {
  position: relative;
}

.badge {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  font-size: 0.6rem;
  background: #007db5;
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 16px;
}
/* ACTIVE MODAL */

.modalIsOpen {
  transform: translateX(0%);
  opacity: 1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1060px) {
  .navIcons {
    justify-content: flex-start;
  }

  .mobileLogo {
    font-size: 1.4rem;
  }
}
