.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border: 2px solid #e7e7e7;
  background: white;
}

.logo {
  flex-basis: 33%;
  font-size: 1.5rem;
  font-weight: bold;
}

.navItems {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
  font-size: 1rem;
}

.navItems a:hover {
  color: var(--color-secondary-variant);
}

.navIcons {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  gap: 1.25rem;
}

/* MOBILE NAV */

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  border: 0.1rem solid #e7e7e7;
  background-color: white;
}

.mobileNavMenu {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-basis: 33%;
  align-items: center;
  font-size: 1.5rem;
}

.mobileLogo {
  text-align: center;
}

@media screen and (max-width: 1060px) {
  .navIcons {
    justify-content: flex-start;
  }

  .mobileLogo {
    font-size: 1.4rem;
  }
}
