.featuredProductsSection {
  max-width: 100vw;
  padding: 2rem;
}

.featuredProductsCategory {
  display: block;
  font-weight: bold;
  color: var(--color-secondary-variant);
}

.featuredProductsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productsSubcategory {
  margin: 0.6rem 0;
}

.productsLink {
  font-weight: bold;
  text-decoration: underline;
}

/* FEATURED PRODUCTS */
.featuredProducts {
  width: 100%;
  display: flex;
  gap: 0.4rem;
}

@media screen and (max-width: 1060px) {
  .featuredProducts {
    overflow-x: scroll;
    gap: 0.6rem;
  }
}
