.checkout {
  padding-top: 10rem;
  width: 70%;
  margin: 0 auto;
}

.stepper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: bold;
}

.activeStep {
  color: rgb(47, 161, 214);
}

@media screen and (max-width: 1060px) {
  .stepper {
    width: 100%;
  }
}
