@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap");

:root {
  --color-primary: black;
  --color-primary-variant: #444444;
  --color-secondary: #53565a;
  --color-secondary-variant: #787a7c;

  --transition: all 400ms ease;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
